*{
	padding: 0;
	margin: 0;
	font-size: 16px;
	outline: none;
	color: #1e1e1e;
}

a{
	text-decoration: none;
}
.hidden{display:none;}
.site_container{
	max-width: 1600px;
	width: 85%;
	margin: 0 auto;
}


header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2.5em 0;
}
header img{
	object-fit: cover;

}
header .tel{
	font-family: SF-Regular, sans-serif;
	font-size: 1.4em;
}
.content{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
} 
.content .slider-wrapper{
	width: 60%;
	margin-right: 3em;

	position: relative;
}

.content .product-properties{
	width: 35%;
	max-width: 450px;
}
.product-properties .title{
	
	font-family: SF-Bold, sans-serif;
	font-size: 1.75em;
}
.product-properties .description{
	font-family: SF-Regular, sans-serif;
	font-size:1.1em;
	margin: 1rem 0;
	line-height: 1.5;
}
.product-properties .price{
	font-family: SF-Regular, sans-serif;
	margin: 1.5rem 0;
	line-height: 1.5;
	font-size: 2em;

}
.product-properties .price:after{
	content: "\20BD";
	padding-left:0.25em; 
}


.product-properties .add-basket-form{
	padding-bottom: 2.75em;
	border-bottom: solid 1px #ececec;
}
.product-properties .add-basket{
	width: 100%;
	line-height: 3.35em;
	background: #ececec;
	border: solid 0.35em #1e1e1e;
	cursor: pointer;
	margin-top: 1em;
	transition: .3s;
	font-family: SF-Light, sans-serif;
}
.product-properties .add-basket:disabled{
	opacity: .4;
	cursor: default;
}

.product-properties .wrapper-attr{
	width:100%;
	display: flex;
	justify-content: flex-start;
	margin: 1em 0;
	align-items: center;
	position: relative;
}
.product-properties .wrapper-attr .name-attr{
	width:30%;
	opacity: .6;
	font-size: 0.9em;
	font-family: SF-Light, sans-serif;
	margin-right: 0.5em;
}

.product-properties .wrapper-attr .value-attr{
	font-family: SF-Regular, sans-serif;
	position: relative;
	width:69%;
}

.product-properties .attrs{
	margin: 2.75em 0 4em 0;
}
.product-properties .detail-text{
	font-family: SF-Regular, sans-serif;
	line-height: 1.7;
	max-height: 7em;
	transition: .6s;
	overflow-y: hidden;
	position: relative;
	z-index: 0;
	margin-bottom: 0.5em;
}
.product-properties .detail-text:after{
	content: "";
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 2.5em;
	opacity: .6;
	background: linear-gradient(0deg, #fff, #fff1);
}
.product-properties .more{
	font-family: SF-Light, sans-serif;
	font-size: 0.9em;
	cursor:pointer;
}

.product-properties .more:after{
	content: 'Показать больше \2193';
	transition: .6s;

}

.product-properties #show_more:checked ~ .more:after{
	content: 'Скрыть \2191';
}

.product-properties #show_more:checked ~ .detail-text{
	max-height: 750px;
}
.product-properties #show_more:checked ~ .detail-text:after{
	opacity: 0;
}

.product-properties .colors .value-attr{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}
.product-properties .colors input{
	opacity: 0;
}


.product-properties .colors .container {
	position: relative;
	padding: 0.5em;
	margin-bottom: 0.75em;
	margin-right: 0.75em;
	height: 1.5em;
	width: 1.5em;
	
}
.product-properties .colors .container .mark{
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: solid 2px #ececec;


}

.product-properties .colors .container .mark:before {
	content:'';
	position: absolute;
	background: transparent;
	border: solid 5px #ececec;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .3s;
	
}
.product-properties .colors .container .mark:hover:before {
	width: 65%;
	height: 65%;
	opacity: 0.5;
}
.product-properties .colors .container .color-product:checked ~ .mark:before {
	width: 65%;
	height: 65%;
	opacity: 1;
}
.product-properties .size{
	height: 3em;

}
.product-properties .size .size-product{
	position: absolute;
	font-family: SF-Light, sans-serif;
	font-size: 1.2em;
	left: 0;
	top: 50%;
	transform: translate(0%, -50%);
	width: 100%;
	background: none;
	border: none;
	border-bottom: solid 3px #ececec;;
	padding: 0.3em 0;
	cursor: pointer;
	height: 2em;

	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;

	background: url('../img/arrow_bot.png') no-repeat right/10%;
} 


.content .slider-wrapper .slide{
	display: block;
	object-fit: cover;
	width: 100%;

}
.content .slider-wrapper .slider-arrow{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.content .slider-wrapper .prev,
.content .slider-wrapper .next{
	cursor: pointer;
	width: 3em;
	height: 1em;
	margin: 0.5em 1em;
}
.content .slider-wrapper .prev{
	background: url('../img/←.svg') no-repeat center/contain;
}
.content .slider-wrapper .next{
	background: url('../img/→.svg') no-repeat center/contain;
}

@media (max-width: 1199px) {
	.content .slider-wrapper,
	.content .product-properties{
		width: 49%;
	}
}

@media (max-width: 991px) {
	header,
	.content {
		flex-direction: column;
	}
	header{
		align-items: flex-start;
	}
	
	.content .slider-wrapper,
	.content .product-properties{
		width: 97%;
		margin: 0 auto 2em auto;
	}
	
}

@media (max-width: 767px) { 

}

@media (max-width: 575px) {

}

